.back-button-container {
    position: fixed;
    /* შენარჩუნებული პოზიცია: მარჯვენა ზედა კუთხეში */
    top: 20px;
    /* 20 პიქსელი ზედა მხარეს*/
    right: 20px;
    /* 20 პიქსელი მარჯვენა მხარეს */
    z-index: 1000;
    /*  სხვა ელემენტები ზემოთ რომ  იყოს */
}

.back-button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}