body {
    font-family: Arial, sans-serif;
    background-color: gray;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c0392b;
    color: white;
    padding: 20px;
    text-align: center;
}

.introduction {
    padding: 20px;
    background-color: #5bc0de;
    color: white;
    text-align: center;
}

.gallery {
    padding: 20px;
}

.gallery h2 {
    text-align: center;
    margin-bottom: 20px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.photo {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.photo img {
    width: 100%;
    height: auto;
}

.photo p {
    padding: 10px;
    margin: 0;
    font-size: 14px;
    color: #555;
}

.photo:hover {
    transform: scale(1.05);
}
/* footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}